name: Drishti Sharma

on: 
    push:
      branches: [ main ]


    jobs: 
      demo:
         runs-on: ubuntu-latest

         steps:
           - name: Greetings
             run: hello from "drishti"
